h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans";scroll-behavior: smooth;height: 100%;width: 100%;}
header{display:"block"}
html::-webkit-scrollbar {
    /* removes scroll bar that is present default  */
    display: none;  
}


.page {
    height: 100%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    background-color: #fff; 
    color: #000; 
    padding-top: 110px;
    font-family: Arial, sans-serif; 
}
/* navigation  */
.navbar {
    background-color: #000; 
    color: #fff; 
    padding: 25px 0;
    margin-left: -08px;
    margin-top: -0px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}

.navbar ul li a {
    color: #fff; 
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: #ffea00; 
}

/* navigation end */
.content{
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    max-width:100%;
}
.marg{
    margin-top: 70px;
}
.light-grey{
    
    color:#000;
    background-color:#ffffff;
}

.other-grey{
 
    background-color: #3e61694c;
}
h1,h2,h3,h4{
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
h6{
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: large;
    margin: 10px 0;
}
.main-title{
    display: block;
    text-align: center;
    height: 110px;
    /* padding: 10px; */
    /* color: white; */
}
.xxxlarge{
    font-size:48px;
}
.white-in-blackbox{
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center
}
.display-container{
    position:relative;
    display:block;
    letter-spacing:4px;
}
.display-container:hover {
    display:inline-block;
}

.imag{
    max-width:100%;
    height:auto;
}
img{
    vertical-align:middle;
}
.display-left{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
}
.padding-large{
    padding:12px 24px!important;
}
.text-white{
    color:#fff;

}
.jumbo{
    font-size:64px!important;
}
.butt{
    font-size: 18px;
    font-weight: 200;
    font-style: bold;
    border:none;
    display:inline-block;
    padding:8px 8px;
    color: #000;
    vertical-align:middle;
    color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:normal;
    width: auto;
    background-color: #f1f1f1;
}

.butt:hover{
    color:#ffffff!important;
    background-color:#000000!important;
}
.white{
    color:#000;
    background-color:#fff;
}
.padding-large{
    padding:12px 24px;
}
.opacity{
    opacity:0.60;
}
.hover-opacity-off{
    opacity: 1;
}
.row{
    padding:0 8px;
    content:"";
    display:table;
    clear:both;
    padding: 8px 16px;
    border:1px solid #ccc;
}

.container{
    padding:0.01em 16px;
    margin: 16px;
}
.center{
    /* display:inline-block; */
    width:auto;
    text-align:center;
}
.justify{
    text-align: justify;
}
.col{
    padding: 0px 8px;
    width:99.99999%;

}
/* about   */
#about, #skills,#projects{
    background-color: #f9fafada;
    /* margin-top: 100px; */
}
.about-columns {
    padding-top: 10px;
    height: fit-content;
    max-height: 100%;
    display: flex;
    align-content: center;
    color: #0c0909;
    background-color: #ccc;
    width: 100%;
}
.highlight {
    color: #141300;
    font-size: 40px;
}
.justify ul li{
    padding-bottom: 10px;
    font-size: larger;
}
.highlightx{
    color: #000000;
    font-size: 26px;
}
.left-column, .right-column {
    flex: 1;
    padding: 0 20px;
}
.right-column ul li{
    padding-bottom: 10px;
    font-size: larger;
}

.left-column h3, .right-column h3 {
    margin-top: 0;
}
/* download button  */
.section{
    margin-top:16px!important;
    margin-bottom:16px!important;
}
/* end dwoload button  */

/* about  */
/* My Skills */

.progress {
    height: 20px;
    border-radius:20px;
  
  }
  
  .progress .skill .val {
    float: right;
    font-style: normal;
    margin: 0 20px 0 0;
  }
  span {
    
      display:block;
      position: relative;
      font-size: 13px;
      font-weight: 600;
      text-transform:uppercase;
      color: #888888;
      line-height: 17px;
      margin-bottom:5px;
  }
  .progress-bar {
    text-align: left;
  
    border-radius:20px;
    transition-duration: 3s;
  }
  /* skills */
.skills-list{
    display: flex;
    justify-content: space-between;
}

.skill-category {
    
    flex: 1;
    padding: 20px 20px;
    color: #000000;
}
.skill-category ul li{
    padding-bottom: 20px;
    margin-left: 140px;
    max-width: fit-content;
    font-size: larger;
}
/* end skills  */

/* projects  */

.projects-section {
    display: flex;
    justify-content: space-between;
    
}

.completed-projects, .ongoing-projects, .future-projects {
    flex: 1;
    padding: 0 30px;
    text-align: center;
}
.leftend{
    text-align: left;
}
.project{
    padding-bottom: 30px;
}
.proj-category ul li{
    margin-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    text-align: left;
    max-width: fit-content;
    font-size: larger;
}

.none{
    text-decoration: none;
    color: #fff;
}

/* projects wnd */


html{
    scroll-behavior: smooth;
    
}
