*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body{
    background-color: black;
}
.left{
    margin: 20px 0px 20px 20px;
    background-color: aqua;
    width: 740px;
    height: 1000px;
    display: inline-block;
}

.right{
    background-color: rgb(215, 14, 155);
    margin: 20px 20px 20px 0px;
    width: 730px;
    height: 1000px;
    display: inline-block;
    
}

.two{
    display: block;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    margin: 100px 100px 70px 100px;
    font-size: 65px;
}
button{
    margin-left: 350px;
    font-size: x-large;
    padding: 8px;
    border-radius: 10px;
    background-color: palevioletred;
    color: black;
    display: inline-block;
}