*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    max-height: 1px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;

}
.logo{
    height: 1em;
    margin-bottom: 60px;
    margin-top: -30px;
}
nav{
    flex: 1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style-type: none;

}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    height: 100vh;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.container-1{
    max-width: 1300px;
    height: 35vh;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    color: #fff;
    background: #ff523b;
    padding: 8px  30px;
    margin: 30px  0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#cd4343a5,#b828569d,rgba(178, 19, 186, 0.79));
}
.header .row{
    margin-top: 70px;

}
.cats{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    column-rule-color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;

}
.col-4 p{
    font-size: 14px;
}
.col-4:hover{
    transform: translateY(-5px);
}
.fame{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .fame-img{
    padding: 50px;
}
small{
    color: #555;
}
.artist{
    padding-top: 60px; 
    margin-bottom: 150px;
    background: rgba(236, 158, 175, 0.66);
}
.artist .col-3{
    background-color: pink;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.hi{
    max-width: 150px;
    margin-top: 20px;
    border-radius: 50%;
}
.artist .col-3:hover{
    transform: translateY(-10px);
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
/* footer  */
.footer{
    background: #000000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;   
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1 , .footer-col-2 , .footer-col-3 , .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3 , .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin : 20px 0;
}
.copy{
    text-align: center;
}

.menu{
    width: 28px;
    margin-left: 20px;
    display: none;
}
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: aliceblue;
    }
    .menu{
        cursor: pointer;
        display: block;
    }
}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3 , .col-4{
        flex-basis: 100%;
    }
}
